// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundryGateway from "../../../../../index.js";

export declare namespace SessionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SessionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SessionsClient.Options>;

    constructor(options: SessionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List sessions for an agent (newest first by default), keyset-paginated. Pass `page_token` to fetch the next page, keeping the other query params constant.
     *
     * @param {TrueFoundryGateway.agents.SessionsListRequest} request
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.UnauthorizedError}
     * @throws {@link TrueFoundryGateway.ForbiddenError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     * @throws {@link TrueFoundryGateway.UnprocessableEntityError}
     *
     * @example
     *     await client.agents.sessions.list({
     *         agent_name: "agent_name",
     *         limit: 1,
     *         order: "asc",
     *         page_token: "page_token",
     *         start_timestamp: "start_timestamp",
     *         end_timestamp: "end_timestamp"
     *     })
     */
    public async list(
        request: TrueFoundryGateway.agents.SessionsListRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.Page<TrueFoundryGateway.Session, TrueFoundryGateway.agents.SessionsListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundryGateway.agents.SessionsListRequest,
            ): Promise<core.WithRawResponse<TrueFoundryGateway.agents.SessionsListResponse>> => {
                const {
                    agent_name: agentName,
                    limit = 10,
                    order,
                    page_token: pageToken,
                    start_timestamp: startTimestamp,
                    end_timestamp: endTimestamp,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    agent_name: agentName,
                    limit,
                    order: order != null ? order : undefined,
                    page_token: pageToken,
                    start_timestamp: startTimestamp,
                    end_timestamp: endTimestamp,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        "v1/agents/sessions",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundryGateway.agents.SessionsListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new TrueFoundryGateway.BadRequestError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new TrueFoundryGateway.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new TrueFoundryGateway.ForbiddenError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new TrueFoundryGateway.NotFoundError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 422:
                            throw new TrueFoundryGateway.UnprocessableEntityError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.TrueFoundryGatewayError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/agents/sessions");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundryGateway.Session, TrueFoundryGateway.agents.SessionsListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.next_page_token != null &&
                !(
                    typeof response?.pagination.next_page_token === "string" &&
                    response?.pagination.next_page_token === ""
                ),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "page_token", response?.pagination.next_page_token));
            },
        });
    }

    /**
     * Create a session for an existing named agent.
     *
     * @param {TrueFoundryGateway.agents.CreateSessionRequest} request
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.UnauthorizedError}
     * @throws {@link TrueFoundryGateway.ForbiddenError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     * @throws {@link TrueFoundryGateway.ConflictError}
     * @throws {@link TrueFoundryGateway.UnprocessableEntityError}
     *
     * @example
     *     await client.agents.sessions.create({
     *         agent_name: "agent_name"
     *     })
     */
    public create(
        request: TrueFoundryGateway.agents.CreateSessionRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundryGateway.agents.SessionsCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: TrueFoundryGateway.agents.CreateSessionRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundryGateway.agents.SessionsCreateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/agents/sessions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundryGateway.agents.SessionsCreateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new TrueFoundryGateway.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new TrueFoundryGateway.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new TrueFoundryGateway.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new TrueFoundryGateway.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/agents/sessions");
    }

    /**
     * Get a session by id. Visible to the session owner or a manager of the session agent.
     *
     * @param {string} sessionId
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.UnauthorizedError}
     * @throws {@link TrueFoundryGateway.ForbiddenError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     *
     * @example
     *     await client.agents.sessions.get("sessionId")
     */
    public get(
        sessionId: string,
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundryGateway.agents.SessionsGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(sessionId, requestOptions));
    }

    private async __get(
        sessionId: string,
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundryGateway.agents.SessionsGetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/agents/sessions/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundryGateway.agents.SessionsGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new TrueFoundryGateway.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new TrueFoundryGateway.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/agents/sessions/{sessionId}",
        );
    }

    /**
     * Cancel the running last turn for a session.
     *
     * @param {string} sessionId
     * @param {TrueFoundryGateway.agents.CancelSessionRequest} request
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     * @throws {@link TrueFoundryGateway.PreconditionFailedError}
     * @throws {@link TrueFoundryGateway.FailedDependencyError}
     *
     * @example
     *     await client.agents.sessions.cancel("01arz3ndektsv4rrffq69g5fav.g")
     */
    public cancel(
        sessionId: string,
        request: TrueFoundryGateway.agents.CancelSessionRequest = {},
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundryGateway.agents.SessionsCancelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(sessionId, request, requestOptions));
    }

    private async __cancel(
        sessionId: string,
        request: TrueFoundryGateway.agents.CancelSessionRequest = {},
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundryGateway.agents.SessionsCancelResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/agents/sessions/${core.url.encodePathParam(sessionId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundryGateway.agents.SessionsCancelResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 412:
                    throw new TrueFoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 424:
                    throw new TrueFoundryGateway.FailedDependencyError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/agents/sessions/{sessionId}/cancel",
        );
    }

    /**
     * List turns for a session (newest first). Pagination walks the ancestor chain from the session last turn, or from the turn in page_token when continuing.
     *
     * @param {string} sessionId
     * @param {TrueFoundryGateway.agents.SessionsListTurnsRequest} request
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     *
     * @example
     *     await client.agents.sessions.listTurns("01arz3ndektsv4rrffq69g5fav.g", {
     *         page_token: "page_token",
     *         limit: 1
     *     })
     */
    public async listTurns(
        sessionId: string,
        request: TrueFoundryGateway.agents.SessionsListTurnsRequest = {},
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.Page<TrueFoundryGateway.Turn, TrueFoundryGateway.agents.SessionsListTurnsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundryGateway.agents.SessionsListTurnsRequest,
            ): Promise<core.WithRawResponse<TrueFoundryGateway.agents.SessionsListTurnsResponse>> => {
                const { page_token: pageToken, limit = 10 } = request;
                const _queryParams: Record<string, unknown> = {
                    page_token: pageToken,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v1/agents/sessions/${core.url.encodePathParam(sessionId)}/turns`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundryGateway.agents.SessionsListTurnsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new TrueFoundryGateway.BadRequestError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new TrueFoundryGateway.NotFoundError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.TrueFoundryGatewayError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/agents/sessions/{sessionId}/turns",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundryGateway.Turn, TrueFoundryGateway.agents.SessionsListTurnsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.next_page_token != null &&
                !(
                    typeof response?.pagination.next_page_token === "string" &&
                    response?.pagination.next_page_token === ""
                ),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "page_token", response?.pagination.next_page_token));
            },
        });
    }

    /**
     * Start or continue a turn within a session. Responds with a Server-Sent Events stream.
     * Use `previous_turn_id` to chain to the session's last turn (defaults to `auto`).
     */
    public createTurn(
        sessionId: string,
        request: TrueFoundryGateway.agents.CreateTurnRequest = {},
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<TrueFoundryGateway.SequencedTurnStreamingOutputEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__createTurn(sessionId, request, requestOptions));
    }

    private async __createTurn(
        sessionId: string,
        request: TrueFoundryGateway.agents.CreateTurnRequest = {},
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<TrueFoundryGateway.SequencedTurnStreamingOutputEvent>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/agents/sessions/${core.url.encodePathParam(sessionId)}/turns`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new TrueFoundryGateway.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/agents/sessions/{sessionId}/turns",
        );
    }

    /**
     * Get a single turn by ID from Redis.
     *
     * @param {string} sessionId
     * @param {string} turnId
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     *
     * @example
     *     await client.agents.sessions.getTurn("01arz3ndektsv4rrffq69g5fav.g", "01arz3ndektsv4rrffq69g5fav.g.ab12cd")
     */
    public getTurn(
        sessionId: string,
        turnId: string,
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundryGateway.agents.SessionsGetTurnResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTurn(sessionId, turnId, requestOptions));
    }

    private async __getTurn(
        sessionId: string,
        turnId: string,
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundryGateway.agents.SessionsGetTurnResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/agents/sessions/${core.url.encodePathParam(sessionId)}/turns/${core.url.encodePathParam(turnId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundryGateway.agents.SessionsGetTurnResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/agents/sessions/{sessionId}/turns/{turnId}",
        );
    }

    /**
     * Subscribe to the live SSE stream for a turn. Pass after_sequence_number to resume after disconnect or server timeout, or send Last-Event-Id when after_sequence_number is omitted.
     */
    public subscribeToTurn(
        sessionId: string,
        turnId: string,
        request: TrueFoundryGateway.agents.SubscribeTurnRequest = {},
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<TrueFoundryGateway.SequencedTurnStreamingOutputEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__subscribeToTurn(sessionId, turnId, request, requestOptions));
    }

    private async __subscribeToTurn(
        sessionId: string,
        turnId: string,
        request: TrueFoundryGateway.agents.SubscribeTurnRequest = {},
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<TrueFoundryGateway.SequencedTurnStreamingOutputEvent>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/agents/sessions/${core.url.encodePathParam(sessionId)}/turns/${core.url.encodePathParam(turnId)}/subscribe`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 412:
                    throw new TrueFoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new TrueFoundryGateway.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/agents/sessions/{sessionId}/turns/{turnId}/subscribe",
        );
    }

    /**
     * Paginated list of turn events from the Redis events stream.
     *
     * @param {string} sessionId
     * @param {string} turnId
     * @param {TrueFoundryGateway.agents.SessionsListTurnEventsRequest} request
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     * @throws {@link TrueFoundryGateway.PreconditionFailedError}
     *
     * @example
     *     await client.agents.sessions.listTurnEvents("01arz3ndektsv4rrffq69g5fav.g", "01arz3ndektsv4rrffq69g5fav.g.ab12cd", {
     *         page_token: "page_token",
     *         limit: 1,
     *         order: "asc"
     *     })
     */
    public async listTurnEvents(
        sessionId: string,
        turnId: string,
        request: TrueFoundryGateway.agents.SessionsListTurnEventsRequest = {},
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<
        core.Page<
            TrueFoundryGateway.SequencedTurnPersistedEvent,
            TrueFoundryGateway.agents.SessionsListTurnEventsResponse
        >
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundryGateway.agents.SessionsListTurnEventsRequest,
            ): Promise<core.WithRawResponse<TrueFoundryGateway.agents.SessionsListTurnEventsResponse>> => {
                const { page_token: pageToken, limit = 25, order } = request;
                const _queryParams: Record<string, unknown> = {
                    page_token: pageToken,
                    limit,
                    order: order != null ? order : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `v1/agents/sessions/${core.url.encodePathParam(sessionId)}/turns/${core.url.encodePathParam(turnId)}/events`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundryGateway.agents.SessionsListTurnEventsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new TrueFoundryGateway.BadRequestError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new TrueFoundryGateway.NotFoundError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 412:
                            throw new TrueFoundryGateway.PreconditionFailedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.TrueFoundryGatewayError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/agents/sessions/{sessionId}/turns/{turnId}/events",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            TrueFoundryGateway.SequencedTurnPersistedEvent,
            TrueFoundryGateway.agents.SessionsListTurnEventsResponse
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.next_page_token != null &&
                !(
                    typeof response?.pagination.next_page_token === "string" &&
                    response?.pagination.next_page_token === ""
                ),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "page_token", response?.pagination.next_page_token));
            },
        });
    }
}
