// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TruefoundryGateway from "../../../../../index.js";

export declare namespace ResponsesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResponsesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResponsesClient.Options>;

    constructor(options: ResponsesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Execute an agent in stateful mode (responses are stored server-side by default). Use Named (`agent_name`) or Inline (`model`) input. Continue a conversation with `previous_response_id`. Responds with a Server-Sent Events stream of `AgentResponseStreamingOutputEvent` objects.
     */
    public create(
        request: TruefoundryGateway.AgentRunInput,
        requestOptions?: ResponsesClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<TruefoundryGateway.AgentResponseStreamingOutputEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: TruefoundryGateway.AgentRunInput,
        requestOptions?: ResponsesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<TruefoundryGateway.AgentResponseStreamingOutputEvent>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TruefoundryGatewayEnvironment.Default,
                "agent/responses",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TruefoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new TruefoundryGateway.UnauthorizedError(
                        _response.error.body as TruefoundryGateway.AgentErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new TruefoundryGateway.ForbiddenError(
                        _response.error.body as TruefoundryGateway.AgentErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TruefoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 412:
                    throw new TruefoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new TruefoundryGateway.InternalServerError(
                        _response.error.body as TruefoundryGateway.AgentErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TruefoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/responses");
    }

    /**
     * Cancel a running agent response. Requires the `response_id` returned from a prior stateful `/responses` call.
     *
     * @param {TruefoundryGateway.agent.ResponsesCancelRequest} request
     * @param {ResponsesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TruefoundryGateway.PreconditionFailedError}
     * @throws {@link TruefoundryGateway.FailedDependencyError}
     *
     * @example
     *     await client.agent.responses.cancel({
     *         response_id: "response_id"
     *     })
     */
    public cancel(
        request: TruefoundryGateway.agent.ResponsesCancelRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): core.HttpResponsePromise<TruefoundryGateway.agent.ResponsesCancelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(request, requestOptions));
    }

    private async __cancel(
        request: TruefoundryGateway.agent.ResponsesCancelRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): Promise<core.WithRawResponse<TruefoundryGateway.agent.ResponsesCancelResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TruefoundryGatewayEnvironment.Default,
                "agent/responses/cancel",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TruefoundryGateway.agent.ResponsesCancelResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 412:
                    throw new TruefoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 424:
                    throw new TruefoundryGateway.FailedDependencyError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TruefoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/responses/cancel");
    }

    /**
     * Returns the current state of an agent response.
     *
     * @param {string} responseId
     * @param {ResponsesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TruefoundryGateway.BadRequestError}
     * @throws {@link TruefoundryGateway.NotFoundError}
     * @throws {@link TruefoundryGateway.PreconditionFailedError}
     *
     * @example
     *     await client.agent.responses.get("responseId")
     */
    public get(
        responseId: string,
        requestOptions?: ResponsesClient.RequestOptions,
    ): core.HttpResponsePromise<TruefoundryGateway.agent.ResponsesGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(responseId, requestOptions));
    }

    private async __get(
        responseId: string,
        requestOptions?: ResponsesClient.RequestOptions,
    ): Promise<core.WithRawResponse<TruefoundryGateway.agent.ResponsesGetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TruefoundryGatewayEnvironment.Default,
                `agent/responses/${core.url.encodePathParam(responseId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TruefoundryGateway.agent.ResponsesGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TruefoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TruefoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 412:
                    throw new TruefoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TruefoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/responses/{responseId}");
    }

    /**
     * Send approval decisions (allow/deny) to a running agent response awaiting user input.
     *
     * @param {TruefoundryGateway.agent.ResponsesSendMessageRequest} request
     * @param {ResponsesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TruefoundryGateway.BadRequestError}
     * @throws {@link TruefoundryGateway.ConflictError}
     * @throws {@link TruefoundryGateway.PreconditionFailedError}
     *
     * @example
     *     await client.agent.responses.sendMessage({
     *         response_id: "response_id",
     *         input: [{
     *                 type: "tool.approval",
     *                 execution_id: "execution_id",
     *                 tool_call_id: "tool_call_id",
     *                 approval: {
     *                     status: "allow"
     *                 }
     *             }]
     *     })
     */
    public sendMessage(
        request: TruefoundryGateway.agent.ResponsesSendMessageRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): core.HttpResponsePromise<TruefoundryGateway.agent.ResponsesSendMessageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sendMessage(request, requestOptions));
    }

    private async __sendMessage(
        request: TruefoundryGateway.agent.ResponsesSendMessageRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): Promise<core.WithRawResponse<TruefoundryGateway.agent.ResponsesSendMessageResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TruefoundryGatewayEnvironment.Default,
                "agent/responses/message",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TruefoundryGateway.agent.ResponsesSendMessageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TruefoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 409:
                    throw new TruefoundryGateway.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 412:
                    throw new TruefoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TruefoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/responses/message");
    }

    /**
     * Subscribe to a running agent response.
     */
    public subscribe(
        request: TruefoundryGateway.agent.ResponsesSubscribeRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<TruefoundryGateway.InternalAgentResponseStreamingOutputEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__subscribe(request, requestOptions));
    }

    private async __subscribe(
        request: TruefoundryGateway.agent.ResponsesSubscribeRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<TruefoundryGateway.InternalAgentResponseStreamingOutputEvent>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TruefoundryGatewayEnvironment.Default,
                "agent/responses/subscribe",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TruefoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 412:
                    throw new TruefoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TruefoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/responses/subscribe");
    }
}
