// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as TrueFoundryGateway from "../../../../../../../index.js";

export declare namespace DraftSessionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DraftSessionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DraftSessionsClient.Options>;

    constructor(options: DraftSessionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List the caller-owned draft sessions (newest first by default), keyset-paginated. Optionally filter by `agent_name`. Pass `page_token` to fetch the next page, keeping the other query params constant.
     *
     * @param {TrueFoundryGateway.internal.agents.DraftSessionsListRequest} request
     * @param {DraftSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.UnauthorizedError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     * @throws {@link TrueFoundryGateway.UnprocessableEntityError}
     *
     * @example
     *     await client.internal.agents.draftSessions.list({
     *         agent_name: "agent_name",
     *         limit: 1,
     *         order: "asc",
     *         page_token: "page_token",
     *         start_timestamp: "start_timestamp",
     *         end_timestamp: "end_timestamp"
     *     })
     */
    public async list(
        request: TrueFoundryGateway.internal.agents.DraftSessionsListRequest = {},
        requestOptions?: DraftSessionsClient.RequestOptions,
    ): Promise<
        core.Page<TrueFoundryGateway.DraftSession, TrueFoundryGateway.internal.agents.DraftSessionsListResponse>
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundryGateway.internal.agents.DraftSessionsListRequest,
            ): Promise<core.WithRawResponse<TrueFoundryGateway.internal.agents.DraftSessionsListResponse>> => {
                const {
                    agent_name: agentName,
                    limit = 10,
                    order,
                    page_token: pageToken,
                    start_timestamp: startTimestamp,
                    end_timestamp: endTimestamp,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    agent_name: agentName,
                    limit,
                    order: order != null ? order : undefined,
                    page_token: pageToken,
                    start_timestamp: startTimestamp,
                    end_timestamp: endTimestamp,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        "v1/agents/draft-sessions",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundryGateway.internal.agents.DraftSessionsListResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new TrueFoundryGateway.BadRequestError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new TrueFoundryGateway.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new TrueFoundryGateway.NotFoundError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 422:
                            throw new TrueFoundryGateway.UnprocessableEntityError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.TrueFoundryGatewayError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/agents/draft-sessions",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            TrueFoundryGateway.DraftSession,
            TrueFoundryGateway.internal.agents.DraftSessionsListResponse
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.next_page_token != null &&
                !(
                    typeof response?.pagination.next_page_token === "string" &&
                    response?.pagination.next_page_token === ""
                ),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "page_token", response?.pagination.next_page_token));
            },
        });
    }

    /**
     * Create a draft session holding an inline agent spec, optionally linked to a saved agent. Owner is the token subject.
     *
     * @param {TrueFoundryGateway.internal.agents.CreateDraftSessionRequest} request
     * @param {DraftSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.UnauthorizedError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     * @throws {@link TrueFoundryGateway.UnprocessableEntityError}
     * @throws {@link TrueFoundryGateway.InternalServerError}
     *
     * @example
     *     await client.internal.agents.draftSessions.create({
     *         agent_spec: {
     *             model: {
     *                 name: "name"
     *             }
     *         }
     *     })
     */
    public create(
        request: TrueFoundryGateway.internal.agents.CreateDraftSessionRequest,
        requestOptions?: DraftSessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundryGateway.internal.agents.DraftSessionsCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: TrueFoundryGateway.internal.agents.CreateDraftSessionRequest,
        requestOptions?: DraftSessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundryGateway.internal.agents.DraftSessionsCreateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/agents/draft-sessions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundryGateway.internal.agents.DraftSessionsCreateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new TrueFoundryGateway.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new TrueFoundryGateway.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new TrueFoundryGateway.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/agents/draft-sessions");
    }

    /**
     * Get a draft session by id. Owner-only.
     *
     * @param {string} draftSessionId
     * @param {DraftSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.UnauthorizedError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     *
     * @example
     *     await client.internal.agents.draftSessions.get("draftSessionId")
     */
    public get(
        draftSessionId: string,
        requestOptions?: DraftSessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundryGateway.internal.agents.DraftSessionsGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(draftSessionId, requestOptions));
    }

    private async __get(
        draftSessionId: string,
        requestOptions?: DraftSessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundryGateway.internal.agents.DraftSessionsGetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/agents/draft-sessions/${core.url.encodePathParam(draftSessionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundryGateway.internal.agents.DraftSessionsGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new TrueFoundryGateway.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/agents/draft-sessions/{draftSessionId}",
        );
    }

    /**
     * Update a draft session's inline spec and/or title. Owner-only. An empty body is a valid no-op that refreshes `updated_at`.
     *
     * @param {string} draftSessionId
     * @param {TrueFoundryGateway.internal.agents.UpdateDraftSessionRequest} request
     * @param {DraftSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.BadRequestError}
     * @throws {@link TrueFoundryGateway.UnauthorizedError}
     * @throws {@link TrueFoundryGateway.NotFoundError}
     * @throws {@link TrueFoundryGateway.UnprocessableEntityError}
     *
     * @example
     *     await client.internal.agents.draftSessions.update("draftSessionId")
     */
    public update(
        draftSessionId: string,
        request: TrueFoundryGateway.internal.agents.UpdateDraftSessionRequest = {},
        requestOptions?: DraftSessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundryGateway.internal.agents.DraftSessionsUpdateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(draftSessionId, request, requestOptions));
    }

    private async __update(
        draftSessionId: string,
        request: TrueFoundryGateway.internal.agents.UpdateDraftSessionRequest = {},
        requestOptions?: DraftSessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundryGateway.internal.agents.DraftSessionsUpdateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/agents/draft-sessions/${core.url.encodePathParam(draftSessionId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundryGateway.internal.agents.DraftSessionsUpdateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundryGateway.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new TrueFoundryGateway.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new TrueFoundryGateway.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/agents/draft-sessions/{draftSessionId}",
        );
    }
}
