// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundryGateway from "../../../../../index.js";

export declare namespace ResponsesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResponsesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResponsesClient.Options>;

    constructor(options: ResponsesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Execute an agent in stateful mode (responses are stored server-side by default). Use Named (`agent_name`) or Inline (`model`) input. Continue a conversation with `previous_response_id`. Responds with a Server-Sent Events stream of `AgentResponseStreamingOutputEvent` objects.
     */
    public create(
        request: TrueFoundryGateway.AgentResponsesBody,
        requestOptions?: ResponsesClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<TrueFoundryGateway.AgentResponseStreamingOutputEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: TrueFoundryGateway.AgentResponsesBody,
        requestOptions?: ResponsesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<TrueFoundryGateway.AgentResponseStreamingOutputEvent>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "agent/responses",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundryGateway.BadRequestError(
                        _response.error.body as TrueFoundryGateway.RequestErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new TrueFoundryGateway.UnauthorizedError(
                        _response.error.body as TrueFoundryGateway.RequestErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new TrueFoundryGateway.ForbiddenError(
                        _response.error.body as TrueFoundryGateway.RequestErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundryGateway.NotFoundError(
                        _response.error.body as TrueFoundryGateway.RequestErrorResponse,
                        _response.rawResponse,
                    );
                case 412:
                    throw new TrueFoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new TrueFoundryGateway.InternalServerError(
                        _response.error.body as TrueFoundryGateway.RequestErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/responses");
    }

    /**
     * Cancel a running agent response. Requires the `response_id` returned from a prior stateful `/responses` call.
     *
     * @param {TrueFoundryGateway.agents.ResponsesCancelRequest} request
     * @param {ResponsesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundryGateway.PreconditionFailedError}
     * @throws {@link TrueFoundryGateway.FailedDependencyError}
     *
     * @example
     *     await client.agents.responses.cancel({
     *         response_id: "response_id"
     *     })
     */
    public cancel(
        request: TrueFoundryGateway.agents.ResponsesCancelRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundryGateway.agents.ResponsesCancelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(request, requestOptions));
    }

    private async __cancel(
        request: TrueFoundryGateway.agents.ResponsesCancelRequest,
        requestOptions?: ResponsesClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundryGateway.agents.ResponsesCancelResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "agent/responses/cancel",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundryGateway.agents.ResponsesCancelResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 412:
                    throw new TrueFoundryGateway.PreconditionFailedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 424:
                    throw new TrueFoundryGateway.FailedDependencyError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryGatewayError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/responses/cancel");
    }
}
